Resources/Schemas/GeometryTopologyData.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GeometryTopologyData">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="NumDimensions"  minOccurs="0" maxOccurs="1"/>   <!--DEPRECATED-->
        <xs:element name="CoordinateSystem" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Unknown"/>
              <xs:enumeration value="IJK"/>
              <xs:enumeration value="RAS"/>
              <xs:enumeration value="LPS"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="LPStoIJKTransformationMatrix" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="4" maxOccurs="unbounded">
                <xs:element type="xs:float" name="value"/>
              </xs:choice>
            </xs:complexType>
          </xs:element>
        <xs:element name="Spacing" minOccurs="0">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element type="xs:float" name="value"/>
              </xs:choice>
            </xs:complexType>
          </xs:element>
        <xs:element name="Origin" minOccurs="0">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element type="xs:float" name="value"/>
              </xs:choice>
            </xs:complexType>
          </xs:element>
        <xs:element name="Dimensions" minOccurs="0">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded">
                <xs:element type="xs:int" name="value"/>
              </xs:choice>
            </xs:complexType>
          </xs:element>
        <xs:element name="Point" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="Id"/>
              <xs:element type="xs:byte" name="ChestRegion"/>
              <xs:element type="xs:byte" name="ChestType"/>
              <xs:element type="xs:byte" name="ImageFeature"/>
              <xs:element type="xs:string" name="Description" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Timestamp" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="UserName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="MachineName" minOccurs="0" maxOccurs="1"/>
              <xs:element name="Coordinate">
                <xs:complexType>
                  <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element type="xs:float" name="value"/>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BoundingBox" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="Id"/>
              <xs:element type="xs:byte" name="ChestRegion"/>
              <xs:element type="xs:byte" name="ChestType"/>
              <xs:element type="xs:byte" name="ImageFeature"/>
              <xs:element type="xs:string" name="Description" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Timestamp" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="UserName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="MachineName" minOccurs="0" maxOccurs="1"/>
              <xs:element name="Start">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="value" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Size">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="value" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>