Common/RegistrationOutput-v1.dtd

<!ELEMENT Registration+ (SimilarityValue,transformation, sourceID, destID)>
<ATTLIST Registration id ID #REQUIRED>  
<!ELEMENT SimilarityValue (#PCDATA) #REQUIRED>
<!ELEMENT transformation xlink:href CDATA #REQUIRED>
<!ELEMENT sourceID (#PCDATA) #REQUIRED>
<!ELEMENT destID (#PCDATA) #REQUIRED>
